h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}

/* Start Navbar */

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 3rem;
    font-weight: 300;
    color: white;
    padding-bottom: 5rem;
}

.container-fluid {
    padding: 3% 15%;
}

/* End Navbar */

/* Start Title */

#title {
    background-color: #ff4c68;
}

#title-img {
    height: 35rem;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* End Title */